<section class="antialiased bg-gray-900 flex items-center justify-center h-screen flex-col">
    <div class="w-full sm:w-1/2 my-10 bg-gray-100 p-8 rounded-xl shadow shadow-slate-300">
        <a routerLink="/auth/login" class="flex justify-center items-center mb-6">
            <img class="w-16 mr-2" src="/assets/img/shared/logo.webp" alt="Logo de la clínica soria">
            <span class="text-2xl font-semibold text-gray-800">Clínica Vitalia</span>
        </a>
        <p class="text-xl text-slate-800 font-medium">Cambio de contraseña</p>
        <p class="text-slate-700 ">Hola de nuevo, {{userData.nombres}} {{userData.apellidos}} con correo electrónico
            {{userData.email}}</p>
        <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" (submit)="sendResetPassword()"
            [formGroup]="formResetPassword">
            <div>
                <label for="newPassword" class="text-sm font-medium text-slate-700">
                    Nueva contraseña</label>                
                <input formControlName="newPassword" type="password" name="newPassword" id="newPassword"
                    placeholder="••••••••"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                    required>
                <div class="flex flex-col">
                    <span class="text-xs text-red-600"
                        *ngIf="this.formResetPassword.get('newPassword')?.touched && this.formResetPassword.get('newPassword')?.hasError('required')">
                        *La contraseña es requerida</span>
                    <span class="text-xs text-red-600"
                        *ngIf="this.formResetPassword.get('newPassword')?.value && this.formResetPassword.get('newPassword')?.value.length < 8">
                        *La contraseña debe tener al menos 8 caracteres
                    </span>
                    <span class="text-xs text-red-600"
                        *ngIf="this.formResetPassword.get('newPassword')?.touched && formResetPassword.hasError('notPattern')">
                        *La nueva contraseña debe contener al menos una mayúscula, una minúscula, un número y
                        un símbolo
                    </span>
                </div>
            </div>
            <div>
                <label for="confirm-password" class="font-medium text-slate-700">Confirmar contraseña</label>
                <input formControlName="confirmPassword" type="password" name="confirm-password" id="confirm-password"
                    placeholder="••••••••"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                    required>
                <div class="flex flex-col">
                    <span class="text-xs text-red-600"
                        *ngIf="this.formResetPassword.get('confirmPassword')?.touched && this.formResetPassword.get('confirmPassword')?.hasError('required')">
                        *La confirmación de la contraseña es requerida</span>
                    <span class="text-xs text-red-600"
                        *ngIf="this.formResetPassword.get('confirmPassword')?.touched && this.formResetPassword.get('newPassword')?.value != this.formResetPassword.get('confirmPassword')?.value">
                        *Las contraseñas no coinciden</span>
                </div>
            </div>
            <button
                [disabled]="formResetPassword.get('newPassword')?.touched && formResetPassword.get('passwordConfirm')?.touched && formResetPassword.get('newPassword')?.value !== formResetPassword.get('passwordConfirm')?.value || formResetPassword.invalid"
                type="submit" [ngClass]="
                {
                  'bg-indigo-500 hover:bg-indigo-600 focus:bg-indigo-700 ': formResetPassword.valid ,
                  'bg-gray-500 cursor-not-allowed': formResetPassword.invalid || formResetPassword.get('newPassword')?.touched && formResetPassword.get('passwordConfirm')?.touched && formResetPassword.get('newPassword')?.value !== formResetPassword.get('passwordConfirm')?.value
                }" class="w-full text-white rounded-lg px-3 py-3 font-semibold">
                Cambiar contraseña
            </button>
        </form>
    </div>
</section>