<div class="min-w-screen min-h-screen bg-gray-900 flex items-center justify-center px-5 py-5">
    <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full sm:w-1/2 overflow-hidden max-w-5xl">
        <div class="w-full py-10 px-5 md:px-10">
            <div class="text-center mb-10 flex flex-col">
                <span class="font-bold text-2xl text-gray-700">Inicio de sesión</span>
            </div>
            <form (submit)="sendLogin()" [formGroup]="formLogin" class="flex flex-col">
                <div class="-mx-3 h-20 max-h-24">
                    <label for="email" class="text-sm px-1 text-gray-600">Correo</label>
                    <div class="flex">
                        <div class="w-10 z-10 pl-1 text-center flex items-center justify-center">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <input formControlName="email" type="email"
                            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                            placeholder="pepe@example.com">
                    </div>
                    <p class="text-red-600 text-xs"
                        *ngIf="this.formLogin.get('email')?.touched && this.formLogin.get('email')?.hasError('required')">
                        El correo es requerido</p>
                </div>
                <div class="-mx-3 h-20 max-h-24">
                    <label for="password" class="text-sm px-1 text-gray-600">Contraseña</label>
                    <div class="flex">
                        <div class="w-10 z-10 pl-1 text-center flex items-center justify-center">
                            <i class="fa-solid fa-key"></i>
                        </div>
                        <input formControlName="password" type="password"
                            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                            placeholder="************" autocomplete="off">
                    </div>
                    <p class="text-red-600 text-xs"
                        *ngIf="this.formLogin.get('password')?.touched && this.formLogin.get('password')?.hasError('required')">
                        <span>La contraseña es requerida</span>
                    </p>
                </div>
                <div class="register pb-5 pt-2">
                    <a class="text-blue-800" routerLink="/auth/reset-password">
                        ¿Olvidaste tu contraseña?
                    </a>
                </div>
                <div class="flex -mx-3 justify-center">
                    <div class=" px-3 mb-5">
                        <button [disabled]="formLogin.invalid"
                            [ngClass]="{'bg-indigo-500 hover:bg-indigo-600 focus:bg-indigo-700 ': formLogin.valid, 'bg-gray-500 cursor-not-allowed': formLogin.invalid}"
                            class="block w-40 max-w-xs mx-aut text-white rounded-lg px-3 py-3 font-semibold">
                            Iniciar sesión</button>
                    </div>
                </div>
                <div class="register pb-5 flex justify-center">
                    <p>
                        <span class="text-gray-700">
                            ¿No tienes cuenta? Regístrate
                        </span>
                        <a class="text-blue-800" routerLink="/auth/register">
                            aquí
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>