<header class="h-16 flex pr-5 border-b shadow-md bg-white">
    <div class="ml-10 sm:ml-5 h-16 flex items-center">
        <span class="text-gray-700 text-[12px] sm:text-[16px]">{{title}}</span>
    </div>
    <div class="flex items-center space-x-4 ml-auto">
        <div [matMenuTriggerFor]="menu">
            <button class="flex items-center group" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user text-gray-700"></i>
                <span class="ml-2 truncate sm:text-sm text-[11px] text-gray-700">
                    {{ (user$ | async).nombres }} {{ (user$ | async).apellidos }}
                </span>
                <i class="ml-2 fa-solid fa-caret-down text-gray-700"></i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="text-gray-700" routerLink="/auth/edit-profile">
                    <span class="mr-2 text-xs">
                        <i class="fa-sharp fa-solid fa-gear"></i>
                    </span>
                    <span class="text-sm ">Editar perfil</span>
                </button>
            </mat-menu>
        </div>
        <hr class="w-px h-6 bg-slate-200">
        <button class="sm:text-xl text-sm text-red-600 font-bold" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="sr-only">Cerrar sesión</span>
        </button>
    </div>
</header>
