<section class="antialiased bg-gray-900 flex items-center justify-center h-screen flex-col">
    <div class="max-w-lg mx-auto my-10 bg-gray-100 p-8 rounded-xl shadow shadow-slate-300">
        <a routerLink="/auth/login" class="flex justify-center items-center mb-6">
            <img class="w-16 mr-2" src="/assets/img/shared/logo.webp" alt="Logo de la clínica soria">
            <span class="text-2xl font-semibold text-gray-800">Clínica Vitalia</span>
        </a>
        <p class="text-xl text-slate-800 font-medium">Cambio de contraseña</p>
        <p class="text-slate-500">Ingrese el correo electrónico válido para reestablecer la contraseña</p>
        <form class="my-10" (submit)="resetPassword()" [formGroup]="formResetPassword">
            <div class="">
                <label for="email">
                    <p class="font-medium text-slate-700 pb-2">Dirección de correo electrónico</p>
                    <input formControlName="email" id="email" name="email" type="email"
                        class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                        placeholder="Ingrese el correo">
                </label>
                <span class="text-red-600 text-xs"
                    *ngIf="this.formResetPassword.get('email')?.touched && this.formResetPassword.get('email')?.hasError('required')">
                    No cumple con el formato de correo</span>

                <button [disabled]="formResetPassword.invalid"
                    [ngClass]="{'bg-indigo-600 hover:bg-indigo-500 focus:bg-indigo-700 ': formResetPassword.valid, 'bg-gray-500 cursor-not-allowed': formResetPassword.invalid}"
                    class="w-full py-3 my-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                    <i class="fa-solid fa-key text-xs"></i>
                    <span>Enviar enlace</span>
                </button>
            </div>
            <div class="font-medium">
                <ng-container *ngIf="mailResponse; else errorTemplate">
                    <span class="text-green-500">{{ mailMessage }}</span>
                    <div class="mt-2">
                        <span class="text-red-500">
                            ¿No has recibido el correo?
                        </span>
                        <button class="text-indigo-600 font-medium ml-1 inline-flex items-center">
                            Reenviar correo
                        </button>
                    </div>
                </ng-container>
                <ng-template #errorTemplate>
                    <span class="text-red-500">{{ mailMessage }}</span>
                </ng-template>
            </div>
            
        </form>
    </div>
</section>