<section class="dark:border-gray-800 bg-white flex-col sm:flex {{spaceWidthMenu}} {{showToggle}} sm:relative">
    <div class="min-h-screen flex flex-row border-r shadow-md relative">
        <nav class="flex flex-col overflow-hidden w-full ">
            <div class="flex items-center w-full mt-4 ">
                <a class="flex flex-col text-xs items-center my-0 mx-auto  w-2/3 h-16">
                    <img class="h-9" src="assets/img/shared/logo.webp" alt="Logo del detector de spam">
                    <span class="text-sm text-[#324054] font-bold {{displayWords}}">Clínica Vitalia</span>
                </a>

                <section class="absolute hidden sm:block -right-3  top-5">
                    <div (click)="hideWordsMenu()"
                        class="h-6 w-6 rounded-3xl bg-[#2D68FE] flex items-center justify-center cursor-pointer hover:bg-blue-900">
                        <i class="fa-solid {{logoArrow}} text-white text-sm font-bold "></i>
                    </div>
                </section>
            </div>
            <ul *ngFor="let option of menuOptions$ | async" class="flex flex-col pl-3 pr-2 mt-4">
                <li class="hover_list pt-4 pb-4 flex flex-row text-[13px] cursor-pointer"
                    [routerLink]="'/' + option.ACC_PAGINA" matTooltip="{{option.ACC_NOMBRE}}" matTooltipPosition="right"
                    matTooltipClass=" text-xs {{displayTooltip}}">
                    <span class="flex justify-center items-center {{spaceIcons}} text-[#71839B]">
                        <i class="{{option.logo}} {{sizeOfIcons}}"></i>
                    </span>
                    <span class="ml-2 text-[#324054] text-xs {{displayWords}}">{{option.ACC_NOMBRE}}</span>
                </li>
            </ul>
        </nav>
    </div>
</section>
<section class="m-3 z-50 absolute">
    <i class="fa-solid fa-bars sm:hidden block text-xl" (click)="showMenu()"></i>
</section>