<section class="min-w-screen h-screen bg-gray-900 flex items-center justify-center px-5">
  <div class="bg-gray-100 text-gray-500 w-full  sm:w-1/2 rounded-3xl shadow-xl overflow-hidden h-[90%]">
    <div class="w-full py-2 px-5 md:px-10">
      <div class="text-center mb-10 flex flex-col">
        <span class="text-2xl font-bold text-gray-700 ">Registro de usuario</span>
      </div>
      <form (submit)="sendRegister()" [formGroup]="formRegister">
        <div class="flex -mx-3 h-16 mb-3">
          <div class="w-full sm:w-1/2 px-3">
            <label for="names" class="text-xs font-semibold px-1">Nombres</label>
            <div class="flex">
              <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                <i class="fa-solid fa-user tex"></i>
              </div>
              <input formControlName="names" type="text"
                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-xs"
                placeholder="Johan">
            </div>
            <p class="text-xs text-red-600"
              *ngIf="this.formRegister.get('names')?.touched && this.formRegister.get('names')?.hasError('required')">
              Nombres son requeridos</p>
          </div>

          <div class="w-full sm:w-1/2 px-3 h-16 mb-3">
            <label for="lastName" class="text-xs font-semibold px-1">Apellidos</label>
            <div class="flex">
              <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                <i class="fa-solid fa-user"></i>
              </div>
              <input formControlName="lastName" type="text"
                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-xs"
                placeholder="Smith Jackson">
            </div>
            <p class="text-xs text-red-600"
              *ngIf="this.formRegister.get('lastName')?.touched && this.formRegister.get('lastName')?.hasError('required')">
              Apellidos son requeridos</p>
          </div>
        </div>
        <div class="flex -mx-3 h-16 mb-2">
          <div class="w-1/2 px-3">
            <label for="DNI" class="text-xs font-semibold px-1">DNI</label>
            <div class="flex">
              <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                <i class="fa-solid fa-id-card"></i>
              </div>
              <input formControlName="dni" type="text"
                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-xs"
                placeholder="1928361545">
            </div>
            <p class="text-xs text-red-600"
              *ngIf="this.formRegister.get('dni')?.touched && this.formRegister.get('dni')?.hasError('required')">
              DNI es requerido</p>
          </div>
          <div class="w-1/2 px-3 h-16 mb-2">
            <label for="date" class="text-xs font-semibold px-1">Fecha de nacimiento</label>
            <div class="flex">
              <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                <i class="fa-solid fa-calendar-days"></i>
              </div>
              <input formControlName="date" type="date"
                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-xs"
                placeholder="Smith">
            </div>
            <p class="text-xs text-red-600"
              *ngIf="this.formRegister.get('date')?.touched && this.formRegister.get('date')?.hasError('required')">
              La fecha es requerida</p>
          </div>
        </div>
        <div class="flex -mx-3 h-16 mb-2">
          <div class="w-1/2 px-3">
            <label for="sex" class="text-xs font-semibold px-1">Sexo</label>
            <div class="flex">
              <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                <i class="fa-solid fa-venus-mars"></i>
              </div>

              <select formControlName="sex" id="countries"
                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-xs">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>

            </div>
            <p class="text-xs text-red-600"
              *ngIf="this.formRegister.get('sex')?.touched && this.formRegister.get('sex')?.hasError('required')">
              El sexo es requerido</p>
          </div>
          <div class="w-1/2 px-3 h-16 mb-2">
            <label for="city" class="text-xs font-semibold px-1">Ciudad</label>
            <div class="flex">
              <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <input formControlName="city" type="text"
                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-xs"
                placeholder="Guayaquil, Quito., etc...">
            </div>
            <p class="text-xs text-red-600"
              *ngIf="this.formRegister.get('city')?.touched && this.formRegister.get('city')?.hasError('required')">
              La ciudad es requerida</p>
          </div>
        </div>

        <div class="flex -mx-3 h-16 mb-2">
          <div class="w-full px-3">
            <label for="email" class="text-xs font-semibold px-1">Email</label>
            <div class="flex">
              <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <input formControlName="email" type="email"
                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-xs"
                placeholder="johnsmith@example.com">
            </div>

            <div class="flex flex-col text-xs text-red-600">
              <span
                *ngIf="this.formRegister.get('email')?.touched && this.formRegister.get('email')?.hasError('required')">
                El email es requerido</span>
              <span
                *ngIf="this.formRegister.get('email')?.touched && this.formRegister.get('email')?.hasError('email')">
                Por favor, ingresa un correo electrónico válido</span>
            </div>
          </div>
        </div>
        <div class="flex -mx-3 h-16 mb-2">
          <div class="w-full px-3">
            <label for="newPassword" class="text-xs font-semibold px-1">Contraseña</label>
            <div class="flex">
              <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                <i class="fa-solid fa-key"></i>
              </div>
              <input formControlName="newPassword" type="password"
                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-xs"
                placeholder="************" autocomplete="off">
            </div>
            <div class="flex flex-col">
              <span class="text-xs text-red-600"
                *ngIf="this.formRegister.get('newPassword')?.touched && this.formRegister.get('newPassword')?.hasError('required')">
                *La contraseña es requerida</span>
              <span class="text-xs text-red-600"
                *ngIf="this.formRegister.get('newPassword')?.value && this.formRegister.get('newPassword')?.value.length < 8">
                *La contraseña debe tener al menos 8 caracteres
              </span>
              <span class="text-xs text-red-600"
                *ngIf="this.formRegister.get('newPassword')?.touched && formRegister.hasError('notPattern')">
                *La nueva contraseña debe contener al menos una mayúscula, una minúscula, un número y
                un símbolo
              </span>
            </div>
          </div>
          <div class="w-full px-3 h-16 mb-2">
            <label for="passwordConfirm" class="text-xs font-semibold px-1">Confirmar contraseña</label>
            <div class="flex">
              <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                <i class="fa-solid fa-key"></i>
              </div>
              <input formControlName="confirmPassword" type="password"
                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-xs"
                placeholder="************" autocomplete="off">
            </div>
            <span class="text-xs text-red-600" *ngIf="
                formRegister.get('newPassword')?.touched && formRegister.get('confirmPassword')?.touched && formRegister.get('newPassword')?.value != formRegister.get('confirmPassword')?.value">
              Las contraseñas no coinciden</span>
          </div>
        </div>
        <div class="flex items-end md::items-center flex-col gap-3 mt-14 sm:mt-12">
          <button
            [disabled]="formRegister.get('newPassword')?.touched && formRegister.get('passwordConfirm')?.touched && formRegister.get('newPassword')?.value != formRegister.get('passwordConfirm')?.value || formRegister.invalid"
            type="submit" [ngClass]="
                {
                  'bg-indigo-500 hover:bg-indigo-600 focus:bg-indigo-700 ': formRegister.valid ,
                  'bg-gray-500 cursor-not-allowed': formRegister.invalid || formRegister.get('newPassword')?.touched && formRegister.get('passwordConfirm')?.touched && formRegister.get('newPassword')?.value != formRegister.get('passwordConfirm')?.value
                }" class="block w-40 max-w-xs mx-aut text-white rounded-lg px-3 py-3 font-semibold">
            Registrarse
          </button>
          <div>
            ¿Ya tienes una cuenta?
            <a class="text-blue-800" routerLink="/auth/login">
              inicia sesión
            </a>
          </div>
        </div>
      </form>


    </div>
  </div>
</section>