
input.ng-invalid.ng-touched{
    border: 1px solid red !important;
}
input.ng-valid.ng-touched{
    border: 1px solid green !important;

}
.error{
    font-size: 12px;

}
.pepe{
    background-color: aquamarine;
}
mat-icon{
    font-size: 18px;
}